.button
    padding 1rem
    border-radius 5px
    background-color #66c658
    color white
    min-width 100px

.button--error
    padding 1rem
    border-radius 5px
    background-color #d42a25
    color white
    min-width 100px
