.editor--container
    lost-column 1/1

.editor--textarea-container
    lost-column 1/1
    box-sizing border-box
    padding 2rem 2rem 1rem
    lost-center 980px

.editor--textarea
    lost-column 1/2
    box-sizing border-box
    padding 2rem
    height 300px
    font-size 1.5rem
    font-family "Lucida Console", Monaco, monospace
    resize none
    border 2px solid grey
    outline none

.editor--actions-container
    lost-column 1/1
    box-sizing border-box
    padding 1rem 2rem

.editor--no-error
    lost-column 1/2
    padding 2rem
    box-sizing border-box
    background-color white
    border 2px dashed #66c658
    color #66c658
    font-weight bold
    align-items center
    display flex
    justify-content center
    font-size 2rem
    height 300px
    line-height 1.3rem 

.editor--error
    lost-column 1/2
    padding 2rem
    box-sizing border-box
    background-color white
    border 2px dashed red
    color red
    height 300px
    line-height 1.3rem 
