.editor--container
    lost-column 1/1

.editor--textarea-container
    lost-column 1/1
    box-sizing border-box
    padding 2rem 2rem 1rem

.editor--textarea
    lost-column 1/1
    box-sizing border-box
    padding 2rem
    height 200px
    font-size 1.5rem
    font-family "Lucida Console", Monaco, monospace
    resize none
    border 1px solid grey

.editor--actions-container
    lost-column 1/1
    box-sizing border-box
    padding 1rem 2rem


.editor--error
    padding 2rem
    box-sizing border-box
    background-color white
    border 2px dashed red
    margin-bottom 2rem
    line-height 1.3rem 
